<%- include('./partials/header') %>

<style>
    html, body {
        height: 100%;
        margin: 0;
        background-color: #F0FFFF; /* Adjust the color code as desired */
        font-family: Arial, sans-serif; /* You can change this to any font you like */
    }

    /* Define the animation */
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    /* Apply the animation to the h2 tag and the div */
    h2, .centered {
        animation-name: fadeIn;
        animation-duration: 3s;
    }

    #rotating-div img {
        animation: rotate 5s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 53px; /* Adjust as needed */
        height: 53px; /* Adjust as needed */
        /* You might need to adjust these values to position the div correctly */
    }

    h2 {
        font-size: 3.5em; /* Increases the size of the text */
        font-weight: bold; /* Makes the text bolder */
        color: #000080; /* Changes the color of the text to dark blue */
    }

    .centered {
        border: 10px solid #000080; /* Changes the border color to dark blue */
        border-radius:20px; 
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 400px;
        margin-left: 700px;
        padding: 20px;
    }

</style>

<div class="centered">
    <h2>MY TO-DO LIST</h2>
    <div id="rotating-div">
        <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Face_Emoji_grande.png?v=1571606036" alt="placeholder image">
    </div>
</div>

<%- include('./partials/footer') %>


