<%- include('./partials/header') %>

<!-- <h2>MAIN PAGE</h2> -->
<!-- <div style="text-align: center;">
    <h2>MAIN PAGE</h2>
  </div> -->

  <style>
    html, body {
      height: 100%;
      margin: 0;
      background-color: #F2F2F2; /* Adjust the color code as desired */
    }
  
    .centered {
      border: solid;
      border-radius:20px; 
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-top: 400px;
      margin-left: 600px;
    }

  </style>
  
  <div class="centered">
    <h2>MY TO-DO LIST</h2>
  </div>


  

<%- include('./partials/footer') %>