<%- include('../partials/header') %>

<form action="/Task-Categories" method="POST" autocomplete="off">
    <input type="text" name="name">
    <button type="submit">Save Task Category</button>
</form>

<%- include('../partials/footer') %>